html,
body {
  height: 100%;
}

// *:visited {
//   color: $color-red;
// }

body {
  font-family: $font-primary;
}
.full-height {
  min-height: 100vh;
}

section {
  position: relative;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  align-items: center;

  &.metal {
      height: 100%;
      width: 100%;
      position: relative;
      background-image: url(../img/metal.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      

      h1 {
        color: $color-red;
        position: relative;
        @include MQ(S) {
          line-height: 0.8;
        }
        // margin: -6vh 0;

        // &:before {
        //   content: 'best of';
        //   position: absolute;
        //   top: 0;
        //   font-family: $font-primary;
        //   color: $color-white;
        //   font-size: 5.0rem;
        // }

        // &:after {
        //   content: '2017';
        //   position: absolute;
        //   bottom: 0;
        // }
      }

      h4 {
        @media screen and (max-width: 991px) {
          font-size: 20px;
          top: 30px;
        }
      }

      h4,
      p {
        opacity: 0.8;
        position: relative;
        z-index: 10;
      }

      p {
        font-size: 24px;
        color: $color-white;
        position: relative;
        text-transform: uppercase;
        letter-spacing: 2px;

        @media screen and (max-width: 991px) {
          font-size: 14px;
        }

      }

      .circle {
        width: 35vw;
        height: 35vw;
        position: absolute;
        // background: $color-black;
        background: rgba( $color-black, .30 );
        border-radius: 50%;
        display: none;

        @include MQ(S) {
          display: block;
        }
      }

    .gel {
      background: rgba( $color-black-secondary, .55 );
    }
  }
}

.gel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.list {
  min-height: 100vh;
  background: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;

  &:nth-of-type(even) {
    flex-direction: column-reverse;
  }

  @include MQ(S) {
    flex-direction: row;

    &:nth-of-type(even) {
      flex-direction: row;
    }
    
  }

  &:after {
    content: '';
    height: 100%;
    position: absolute;
    width: 4px;
    background-color: $color-red;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    display: none;

    @include MQ(S) {
      display: block;
    }
  }
}

.record-image, 
.record-info {
    flex-basis: 50%;
    padding: 0 40px;
    height: 100vh;
  }

.record-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

  &.converge {
    background-image: url(../img/converge.jpg);
  }

  &.integrity {
    background-image: url(../img/integrity.jpg);
  }

  &.enslaved {
    background-image: url(../img/enslaved-e.jpg);
  }

  &.krallice {
    background-image: url(../img/krallice.jpg);
  }

  &.cloak {
    background-image: url(../img/cloak.jpg);
  }

  &.elder {
    background-image: url(../img/elder.jpg);
  }

  &.wode {
    background-image: url(../img/wode.jpg);
  }

  &.yellow-eyes {
    background-image: url(../img/yellow-eyes.jpg);
  }

  &.power-trip {
    background-image: url(../img/power-trip.jpg);
  }

  &.mastodon {
    background-image: url(../img/mastodon.jpg);
  }

  &.wittr {
    background-image: url(../img/wittr.jpg);
  }

  &.pallbearer {
    background-image: url(../img/pallbearer.jpg);
  }

}

.record-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  @media screen and (max-width: 991px) {
    align-items: center;
  }

  h4 {
    font-size: 60px;
    color: $color-red;
    position: absolute;
    top: 0;
    left: 40px;
  }

  h2 {
    font-size: 120px;

    &.smaller {
      font-size: 80px;
      line-height: 1;
      margin-bottom: 40px;
    }
  }

  p {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 1.7px;
  }

  .text-wrap {
    margin-bottom: 100px;
    cursor: pointer;

    &:hover {
      h2,
      p {
        color: $color-red;
      }
    }
  }
}